<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Connexion/Inscription
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Connexion/Inscription</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Identifiant</ion-label>
    <ion-input placeholder="Entrez votre identifiant" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input type="password" value="password" required></ion-input>
  </ion-item>
  
  <ion-button type="submit" (click)="onSubmit()" >Se Connecter</ion-button>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
