<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Plats de la semaine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Accueil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card  *ngFor="let day of mealsPerDay">
    <ion-card-header>
      <ion-card-title>{{day.name}}</ion-card-title>
      <ion-card-subtitle>bla bla</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content >
      <ion-list>
        <ion-item  *ngFor="let meal of day.meals">
          <ion-thumbnail slot="start">
                  <img  src="{{meal.image}}" alt="{{meal.image}}">
          </ion-thumbnail>
          <ion-label>Plat:  {{meal.label}}
            <p>
              Prix: {{meal.priceDF}} Euros
            </p>
          </ion-label>
        </ion-item>
  
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
